@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary{
  color: #00ADF2;
}

.btn-primary {
    background-color: #00ADF2;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #008BBB;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }