@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary{
  color: #00ADF2;
}

.btn-primary {
    background-color: #00ADF2;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #008BBB;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .btn-Secondary {
    background-color: #00ab2d;
    color: #ffffff;
    padding: 3px 7px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }
  .btn-Secondary:hover {
    background-color: #029e2c;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }


  .btn-warning {
    background-color: #ed0404;
    color: #fbfbfb;
    padding: 3px 7px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }
  .btn-warning:hover {
    background-color: #d10101;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .btn-error {
    background-color: #c17005;
    color: #f9f9f9;
    padding: 3px 7px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }
  .btn-error:hover {
    background-color: #ac6304;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  